<!-- <!DOCTYPE html>
<html>
  <body>
   <div class="home">
     <h1>Welcome to Medi-Scanner.</h1>
     <p>This website was built with Python via the Flask framework.</p>
     <h3>Our Flask Buttons</h3>
        <form method="POST">
            <input type="submit" name="submit_button1" value="Take Picture">
            <input type="submit" name="submit_button2" value="Upload image">
            <button type="button">Click Me!</button>
        </form>
   </div>
  </body>
</html>


 -->

<!doctype html>


<head><title>Test</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>
        <p>Click the button to open the camera. Press space to take an image. press escape to view image details.</p>
        <form action="/my-link/">
            <input type="submit" value="Click me" />
        </form>

        <form action="/my-link2/">
            <input type="submit" value="Click me2" />
        </form>
        
        <!-- <button> <a href="/my-link/">Click me</a></button>
        <button> <a href="/my-link/">Click me2</a></button> -->

    </body>